* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
}

.superior {
    background-color: #a77a1a;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 40px;
}

.recuadro {
    background-color: #ffc400;
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}

.líneas-superiores {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 500px;
}

.linea {
    background-color: #475569;
    height: 10px;
    width: 85%;
}


.título {
    background-color: #64748b;
    height: 14px;
    width: 40%;
    margin-bottom: 5px;
}
